@{
    ViewBag.Title = "Request Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .hide{
        display:none;
    }
</style>
@Scripts.Render("~/requestdocument")
<div id="page-title">
    <h2>DOCUMENT MANAGEMENT</h2>
    <p>Request Document</p>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            <i class="glyph-icon icon-th-list"></i> Document List
            <span id="loadicon" class="hide"><img src="~/assets/images/spinner/loader-dark.gif" width="20px" height="20px" /></span>
        </h3>
        <div class="example-box-wrapper">
            <table id="example" class="cell-border hover order-column cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Catalogue Criteria</th>
                        <th>Physical Location</th>
                        <th>Way House</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Criteria</th>
                        <th>Location</th>
                        <th>Way House</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>









