
@{
    ViewBag.Title = "View Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/viewdocument")
<div id="page-title">
    <h2>DOCUMENT MANAGEMENT</h2>
    <p>View Document</p>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            <i class="glyph-icon icon-th-list"></i> Document List
            <span id="loadicon" class="hide"><img src="~/assets/images/spinner/loader-dark.gif" width="15px" height="15px" /></span>
        </h3>
        <div class="example-box-wrapper">
            <table id="example" class="cell-border hover order-column cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Way House</th>
                        <th>Physical Location</th>
                        <th>Uploader</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Document</th>
                        <th>Way House</th>
                        <th>Location</th>
                        <th>Uploader</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>








