@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/dashboard")
<div id="page-title">
    <h2>DASHBOARD</h2>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-wrench" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Functions Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/Function/AddFunction" id="/Function/AddFunction" style="font-size:12px;color:black">Add Function| </a>
                            <a name="ilinks" href="~/Function/ViewFunction" id="/Function/ViewFunction" style="font-size:12px;color:black">View Function|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-anchor" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Roles Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/Role/AddRole" id="/Role/AddRole" style="font-size:12px;color:black">Add Role| </a>
                            <a name="ilinks" href="~/Role/ViewRole" id="/Role/ViewRole" style="font-size:12px;color:black">View Role|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-users" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Users Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/User/AddUser" id="/User/AddUser" style="font-size:12px;color:black">Add User| </a>
                            <a name="ilinks" href="~/User/ViewUser" id="/User/ViewUser" style="font-size:12px;color:black">View User|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-file-archive-o" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Catalogue Criteria</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/Criteria/AddCriteria" id="/Criteria/AddCriteria" style="font-size:12px;color:black">Add Criteria| </a>
                            <a name="ilinks" href="~/Criteria/ViewCriteria" id="/Criteria/ViewCriteria" style="font-size:12px;color:black">View Criteria|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-database" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Location Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/Location/AddLocation" id="/Location/AddLocation" style="font-size:12px;color:black">Add Location| </a>
                            <a name="ilinks" href="~/Location/ViewLocation" id="/Location/ViewLocation" style="font-size:12px;color:black">View Location|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4" name="iparent_link">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-book" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Documents Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a name="ilinks" href="~/Document/AddDocument" id="/Document/AddDocument" style="font-size:12px;color:black">Add Document| </a>
                            <a name="ilinks" href="~/Document/ViewDocument" id="/Document/ViewDocument" style="font-size:12px;color:black">View Document|</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile-box tile-box-alt bg-blue-alt">
                <div class="tile-content-wrapper">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyph-icon icon-file-powerpoint-o" style="font-size:xx-large"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Password Management</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer tile-footer tooltip-button">
                        <span class="pull-left">
                            <a href="~/User/ChangePassword" id="/User/ChangePassword" style="font-size:12px;color:black">Change Password| </a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

