
@{
    ViewBag.Title = "View Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/viewcriterias")
<div id="page-title">
    <h2>WAY HOUSE MANAGEMENT</h2>
    <p>View Way House</p>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            <i class="glyph-icon icon-th-list"></i> Way House List
        </h3>
        <div class="example-box-wrapper">
            <table id="example" class="cell-border hover order-column cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>






