
@{
    ViewBag.Title = "View User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/viewusers")
<div id="page-title">
    <h2>User MANAGEMENT</h2>
    <p>View Users</p>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            <i class="glyph-icon icon-th-list"></i> Users
        </h3>
        <div class="example-box-wrapper">
            <table id="example" class="cell-border hover order-column cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Lastname</th>
                        <th>Othernames</th>
                        <th>Username</th>
                        <th>User Role</th>
                        <th>Gender</th>
                        <th style="display:none">PhoneNumber</th>
                        <th style="display:none">Email</th>
                        <th style="display:none">CreatedOn</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Lastname</th>
                        <th>Othernames</th>
                        <th>Username</th>
                        <th>User Role</th>
                        <th>Gender</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>






